.intro {
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
}
.intro__container {
 max-width: 1140px;
 height: auto;
}
.intro__txt-wrapper {
 @include d-flex(column, start, start);
 padding-top: 298px;
 max-width: 540px;
 // min-height: 900px;
}
.intro__heading {
 margin: 0;
 padding: 0;
 font-weight: bold;
 font-size: 48px;
 line-height: 56px;
 text-transform: uppercase;
 color: $text-color;
 margin-bottom: 27px;
}

.intro__button {
 margin-bottom: 136px;
}
.intro__title {
 order: -1;
 margin: 0;
 padding: 0;
 font-size: 18px;
 line-height: 21px;
 color: $text-color;
 margin-bottom: 10px;
}

.intro__slider {
 @include reset-list;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translateX(-50%);
 width: 1920px;
 height: auto;
 z-index: -1;
 display: flex;
 overflow: hidden;
}

.intro-slider__buttons {
 margin-bottom: 150px;
}

.intro-slider__item {
 display: inline-block;
 max-width: 1920px;
 height: 100%;
 flex-shrink: 0;
}
.slider__img {
 max-width: 100%;
 height: auto;
}

@include breakpoint-down(960px) {
 .intro__slider {
  left: 60%;
 }
 .intro-slider__item {
  max-width: 1700px;
  height: auto;
 }
 .intro-slider__buttons {
  margin-bottom: 48px;
 }
}

@include breakpoint-down(900px) {
 .intro__txt-wrapper {
  max-width: 333px;
 }
 .intro__heading {
  font-size: 30px;
  line-height: 35px;
 }
 .intro__title {
  font-size: 18px;
  line-height: 25px;
 }
 .intro__button {
  min-width: 180px;
  padding: 15px 25px;
 }
}


@include breakpoint-down(600px) {
 .intro-slider__buttons {
  margin-bottom: 0;
 }
 .intro-slider__item {
  max-width: 1240px;
 }
 .intro__slider {
  left: 87%;
 }
 .intro-slider__buttons {
  position: absolute;
  top: 500px;
 }
 .intro__txt-wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-top: 320px;
  max-width: 100%;
  text-align: center;
  align-items: center;
 }
 .intro__heading {
  text-align: center;
 }

 .intro__button {
  display: none;
 }
}
